<template>
  <div>
    <InfoForm
      :formData="formData"
      :onChange="(event)=>onChange(this.formData, $auth, $axios, $router, $store)"
    />
  </div>
</template>

<script>
import InfoForm from "@/components/course/InfoForm";
import { debounce } from "vue-debounce";

export default {
  middleware: "auth",
  layout: "course",
  components: {
    InfoForm
  },
  data() {
    return {
      formData: {
        title: "",
        subtitle: "",
        description: "",
        categoryId: null,
        subcategoryId: null,
        pricingId: null,
        levelId: null,
        thumbnail: ""
      }
    };
  },
  created() {
    this.resetState()
  },
  methods: {
    resetState() {
      this.$store.dispatch("resetTitle");
      this.$store.dispatch("updated");
      this.$store.dispatch("decrementFormCouter", 0);
      this.$store.dispatch("videosDuration", 0);
    },
    onChange: debounce((formData, $auth, $axios, $router, $store) => {
      let dataInsert = {
        title: formData.title,
        userId: $auth.$state.user.id,
        subtitle: formData.subtitle,
        description: formData.description,
        thumbnail: formData.thumbnail,
        categoryId: formData.categoryId,
        subcategoryId: formData.subcategoryId,
        pricingId: formData.pricing,
        levelId: formData.level
      };
      $axios
        .$post("http://localhost:3000/api/create-course", dataInsert)
        .then(res => {
          $router.push({
            name: "course-id-update",
            params: {
              id: res.data.uuid
            }
          });
        });
    }, "500ms")
  }
};
</script>