<template>
  <v-app>
    <h5>ข้อมูลทั่วไป</h5>
    <p class="text-black-50">ข้อมูลทั่วไปจะช่วยให้กลุ่มเป้าหมายตัดสินใจ เรียนคอร์สของคุณมากขึ้น</p>
    <hr class="my-4" />
    <form @submit.prevent="onChange">
      <!-- Title -->
      <label for="title">
        <span class="dot bg-success" v-if="!formData.title"></span>
        ชื่อคอร์ส
      </label>
      <v-text-field
        v-model="formData.title"
        :rules="rules.title"
        counter="60"
        maxlength="60"
        placeholder="กรุณากรอกชื่อคอร์สของคุณ"
        outlined
        dense
        clearable
        error-messages
        name="input-10-2"
        hint="เช่น: การถ่ายรูปด้วยกล้องดิจิตอล"
        color="success"
        @keyup="onChange"
      />
      <!-- Subtitle -->
      <label for="subtitle">
        <span class="dot bg-success" v-if="!formData.subtitle"></span>
        คำอธิบายคอร์ส
      </label>
      <v-text-field
        v-model="formData.subtitle"
        :rules="rules.subtitle"
        counter="120"
        maxlength="120"
        placeholder="กรุณากรอกชื่อคอร์สของคุณ"
        outlined
        dense
        clearable
        error-messages
        name="input-10-2"
        hint="ทริป: คำอธิบายคอร์สจะช่วยให้นักเรียนเข้าถึงคอร์สของคุณมากขึ้น"
        color="success"
        @keyup="onChange"
      />
      <!-- Description -->
      <div class="form-group">
        <label for="description">
          <span class="dot bg-success" v-if="!formData.description"></span>
          รายละเอียด
        </label>
        <v-textarea
          v-model="formData.subtitle"
          :rules="rules.subtitle"
          placeholder="รายละเอียด..."
          outlined
          dense
          auto-grow
          error-messages
          name="input-10-2"
          hint="ทริป: คำอธิบายคอร์สจะช่วยให้นักเรียนเข้าถึงคอร์สของคุณมากขึ้น"
          color="success"
          @keyup="onChange"
        />
      </div>
      <!-- Thumbnail -->
      <div class="form-group row">
        <div v-if="formData.thumbnail" class="col-auto">
          <div class="image-wrapper" id="preview-thumnail">
            <img
              v-if="formData.thumbnail"
              :src="`http://localhost:3000/uploads/courses/${formData.thumbnail}`"
              class="img-fluid"
            />
          </div>
        </div>
        <div class="col-auto">
          <label for="thumbnail">
            <span class="dot bg-success" v-if="!formData.thumbnail"></span>
            ภาพหน้าปก
          </label>
          <input type="file" id="thumbnail" class="d-block" @change="onShowThumbnail" />
        </div>
      </div>
      <!-- Categories & Subcategories -->
      <div class="form-group row">
        <div class="col-12 col-md-6">
          <label for="category_id">
            <span class="dot bg-success" v-if="!formData.categoryId"></span>
            หมวดหมู่
          </label>
          <select
            id="category_id"
            class="custom-select"
            v-model="formData.categoryId"
            @change="onSelectCategory"
          >
            <option :value="formData.categoryId == null ? null : null">กรุณาเลือกหมวดหมู่</option>
            <option v-for="item in categories" :key="item.id" :value="item.id">{{item.nameTH}}</option>
          </select>
        </div>
        <div class="col-12 col-md-6">
          <label for="subcategory_id">
            <span class="dot bg-success" v-if="!formData.subcategoryId"></span>
            หมวดหมู่ย่อย
          </label>
          <select
            id="subcategory_id"
            class="custom-select"
            v-model="formData.subcategoryId"
            @change="onChange"
          >
            <option value="null">กรุณาเลือกหมวดหมู่ย่อย</option>
            <option v-for="item in subCategories" :key="item.id" :value="item.id">{{item.nameTH}}</option>
          </select>
        </div>
      </div>
      <!-- Pricings & Levels -->
      <div class="form-group row">
        <div class="col-12 col-md-6">
          <label for="pricing_id">
            <span class="dot bg-success" v-if="!formData.pricingId"></span>
            ชนิดคอร์ส
          </label>
          <select
            id="pricing_id"
            class="custom-select"
            v-model="formData.pricingId"
            @change="onChange"
          >
            <option :value="formData.pricingId == null ? null : null">กรุณาเลือกประเภทคอร์ส</option>
            <option v-for="item in prices" :key="item.id" :value="item.id">{{item.nameTH}}</option>
          </select>
        </div>
        <div class="col-12 col-md-6">
          <label for="level_id">
            <span class="dot bg-success" v-if="!formData.levelId"></span>
            ระดับ
          </label>
          <select id="level_id" class="custom-select" v-model="formData.levelId" @change="onChange">
            <option :value="formData.levelId == null ? null : null">กรุณาเลือกระดับ</option>
            <option v-for="item in levels" :key="item.id" :value="item.id">{{item.nameTH}}</option>
          </select>
        </div>
      </div>
      <!-- <div class="form-group row">
        <div class="col-12">
          <label for="skill">ทักษะที่ผู้เรียนจะได้รับ</label>
          <multiselect
            v-model="formData.skills"
            tag-placeholder="เลือกทักษะที่ผู้เรียนจะได้รับ"
            placeholder="เลือกทักษะที่ผู้เรียนจะได้รับ"
            selectLabel="กด Enter เพื่อเลือก"
            selectedLabel="เลือกแล้ว"
            deselectLabel="กด Enter เพื่อลบ"
            label="name"
            track-by="id"
            :options="skills"
            :multiple="true"
            :taggable="true"
            @select="addSkill"
            @remove="removeSkill"
          ></multiselect>
        </div>
      </div>-->
    </form>
  </v-app>
</template>

<script>
// import Multiselect from "vue-multiselect";
import TextField from "@/components/form/TextField";

export default {
  props: ["formData", "onChange"],
  components: {
    TextField
  },
  data() {
    return {
      maxTitle: 60,
      maxSubTitle: 120,
      categories: [],
      subCategories: [],
      levels: [],
      skills: [],
      selectedSkills: [],
      prices: [],
      rules: {
        title: [value => !!value || "กรุณาใส่ชื่อคอร์ส"],
        subtitle: [value => !!value || "กรุณาใส่คำอธิบายคอร์สสั้นๆ"]
      }
    };
  },
  computed: {
    courseTitle: {
      get() {
        return this.$store.getter.courseTitle;
      },
      set(courseTitle) {
        this.$store.dispatch("updateTitle", this.formData.title);
      }
    }
  },
  async beforeMount() {
    this.getOptions();
  },
  methods: {
    async getOptions() {
      // Get Pricings
      let pricings = await this.$axios.$post(
        "http://localhost:3000/api/get-pricings"
      );
      this.prices = pricings.data;
      // Get Levels
      let levels = await this.$axios.$post(
        "http://localhost:3000/api/get-levels"
      );
      this.levels = levels.data;
      // Get Categories
      this.categories = await this.$store.state.categories;
      // Get subcategories by category id
      if (this.formData.categoryId) {
        const category = await this.$axios.$post(
          "http://localhost:3000/api/get-category",
          {
            id: this.formData.categoryId
          }
        );
        this.subCategories = category.data.subcategories;
      }
    },
    onShowThumbnail(event) {
      const file = event.target.files[0];
      this.formData.thumbnail = URL.createObjectURL(file);
    },
    async onSelectCategory(event) {
      this.formData.subcategoryId = null;
      try {
        const category = await this.$axios.$put(
          "http://localhost:3000/api/update-course",
          {
            id: this.$route.params.id,
            categoryId: event.target.value
          }
        );
        const res = await this.$axios.$post(
          "http://localhost:3000/api/get-category",
          {
            id: event.target.value
          }
        );
        this.subCategories = res.data.subcategories;
        this.onChange(event);
      } catch (error) {
        console.log(error);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.image-wrapper {
  position: relative;
  padding-bottom: 56.25%; // Aspect ratio 16:9
}
.image-wrapper img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#preview-thumnail {
  width: 200px;
}
.skill-selector .vs__selected {
  background-color: rgba(3, 168, 124, 1) !important;
  color: #fff;
}
.skill-selector .vs__dropdown-option--highlight {
  background-color: rgba(3, 168, 124, 1) !important;
}
.dot {
  border-radius: 3.5px;
  display: inline-block;
  height: 6px;
  margin-bottom: 2px;
  margin-right: 3px;
  width: 6px;
}
</style>