<template>
  <div class="video-card draggable" v-if="!deleted">
    <div class="col-12 border rounded mb-3 py-2 bg-white" :key="index">
      <div class="row" v-if="!isEdit">
        <div class="col-1 my-auto">
          <h1 class="text-muted mb-0 text-center">{{video.order}}</h1>
        </div>
        <div class="col pl-1">
          <div class="row">
            <div class="col-12 title-box">
              <h2 class="mb-0">{{video.title}}</h2>
            </div>
            <div class="col-auto ml-auto">
              <span class="cursor-pointer" @click="showEdit">
                <i class="material-icons">edit</i>
              </span>
              <span class="cursor-pointer" v-b-modal="'modal-'+index">
                <i class="material-icons">delete</i>
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <small
                class="text-black-50 d-block"
              >{{ video.loading === 100 ? 'อัพโหลด 23 ตุลาคม' : 'Uploading...' }}</small>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-striped bg-success"
                  role="progressbar"
                  :style="{width: `${video.loading}%`}"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-auto ml-auto">
          <div v-if="!video.pathThumbnail" class="img-default"></div>
          <div v-if="video.pathThumbnail">
            <img :src="video.pathThumbnail" width="120" />
          </div>
        </div>
      </div>
      <div class="row" v-if="isEdit">
        <div class="col py-2">
          <div class="form-group">
            <input
              type="text"
              v-model="video.title"
              class="form-control"
              @keyup.enter="doneEdit"
              @keyup.esc="cancelEdit"
              v-focus
            />
          </div>
          <button @click="doneEdit" class="btn btn-success btn-sm">บันทึก</button>
          <button @click="cancelEdit" class="btn btn-outline-secondary btn-sm mx-2">ยกเลิก</button>
        </div>
      </div>
      <b-modal
        :id="`modal-`+index"
        hide-header
        centered
        button-size="sm"
        content-class="shadow"
        @ok="onDelete"
      >
        <div class="row justify-content-center align-items-center py-3">
          <div class="col-2">
            <DeleteIcon />
          </div>
          <div class="col-auto">
            <h5>คุณกำลังลบวีดีโอ</h5>
            <p class="text-black-50 mb-0">คุณแน่ใจว่าจะลบวีดีโอ {{video.title}} ?</p>
          </div>
        </div>
        <template v-slot:modal-footer="{ ok, cancel }">
          <b-button size="sm" variant="outline-secondary" @click="cancel">ยกเลิก</b-button>
          <b-button size="sm" variant="danger" @click="ok">ยืนยัน</b-button>
        </template>
      </b-modal>
    </div>
  </div>
</template>

<script>
import DeleteIcon from "@/components/icon/DeleteIcon";
// import backend from "@/config/backend";
export default {
  components: {
    DeleteIcon
  },
  props: ["video", "index"],
  data() {
    return {
      beforeEditCache: "",
      isEdit: false,
      deleted: false
    };
  },
  computed: {
    dragOptions() {
      return {
        animation: 200,
        group: "description",
        disabled: false,
        ghostClass: "ghost"
      };
    }
  },
  directives: {
    focus: {
      inserted: function(el) {
        el.focus();
      }
    }
  },
  methods: {
    showEdit() {
      this.beforeEditCache = this.video.title;
      this.isEdit = true;
    },
    closeEdit() {
      this.isEdit = false;
    },
    doneEdit() {
      // If name empty use before cache name instead
      if (this.video.title.trim() === "") {
        this.video.title = this.beforeEditCache;
      }
      this.isEdit = false;
      //   let user = JSON.parse(localStorage.getItem("user"));
      //   let dataUpdate = {
      //     title: this.video.name
      //   };
      //   backend
      //     .updateVideo(dataUpdate, this.video.videoId)
      //     .then(result => {
      //       this.isEdit = false;
      //     })
      //     .catch(error => {
      //       if (error) {
      //         console.log(error);
      //       }
      //     });
    },
    cancelEdit() {
      this.video.title = this.beforeEditCache;
      this.isEdit = false;
    },
    onDelete() {
      this.deleted = true;

      //   backend
      //     .deleteVideo(this.video.videoId)
      //     .then(result => {
      //     console.log(123)
      //       this.showRemove = false;
      //     })
      //     .catch(error => {
      //       if (error) {
      //         console.log(456)
      //         console.log(error);
      //       }
      //     });
    }
  }
};
</script>

<style lang='scss' scoped>
.progress {
  height: 8px !important;
}
small {
  font-size: 0.75rem;
}
.img-default {
  display: block;
  width: 120px;
  height: 67.5px;
  background-color: lightgray;
}
.draggable {
  cursor: move;
}
.material-icons {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.34);
}
.title-box {
  word-wrap: break-word;
  height: 40px;
  max-width: 390px;
  overflow: hidden;
}
</style>