<template>
  <div class="video-upload">
    <h5>อัพโหลด & จัดการบทเรียน</h5>
    <p
      class="text-black-50"
    >สำหรับการเผยแพร่คอร์สของคุณ ความยาวโดยรวมของวีดีโอจะต้องไม่น้อยกว่า 10 นาที</p>
    <hr class="my-4" />
    <draggable
      :videos="videos"
      :disabled="!enabled"
      ghost-class="ghost"
      :move="checkMove"
      @start="dragging = true"
      @end="dragging = false"
    >
      <transition-group tag="div">
        <div v-for="(video, index) in videos" :key="video.order">
          <UploadCard :video="video" :index="index" />
        </div>
      </transition-group>
    </draggable>
    <div class="text-center mb-3 mt-4">
      <input
        type="file"
        id="video-files"
        class="d-none"
        ref="videos"
        @change="selectedFiles"
        multiple
      />
      <a onclick="document.getElementById('video-files').click()">
        <UploadIcon />
        <br />
        <span>อัพโหลดวีดีโอ</span>
      </a>
    </div>
    <div class="text-center">
      <p>Note: ความคมชัดอย่างน้อย 720p และขนาดไม่เกิน 4.0 GB</p>
    </div>
  </div>
</template>

<script>
import draggable from "vuedraggable";
import { debounce } from "vue-debounce";

import UploadIcon from "@/components/icon/UploadIcon";
import UploadCard from "@/components/course/UploadCard";

export default {
  props: ["videos", "selectedFiles"],
  components: {
    draggable,
    UploadIcon,
    UploadCard
  },
  data() {
    return {
      // list: this.videos,
      enabled: true,
      dragging: false
    };
  },
  computed: {
    dragOptions() {
      return {
        animation: 200,
        group: "description",
        disabled: false,
        ghostClass: "ghost"
      };
    }
  },
  methods: {
    checkMove: debounce(async event => {
      let indexUpdate = [];
      let listMove = event.relatedContext.list;
      await listMove.forEach(function(value, i) {
        value.orders = i + 1;
        indexUpdate.push({ orders: value.orders, id: value.videoId });
      });

      //   backend
      //     .updateVideoIndex(indexUpdate)
      //     .then(response => {
      //       console.log(response);
      //     })
      //     .catch(error => {
      //       console.log(error);
      //     });
    }, "500ms")
  }
};
</script>