<template>
  <div class="card h-100">
    <div class="card-header bg-white border-0">
      <h5 class="card-title mb-0">
        <slot name="title"></slot>
      </h5>
    </div>
    <div class="card-body py-1 px-0">
      <slot name="body"></slot>
    </div>
    <div class="card-footer border-0 bg-white">
      <slot name="footer"></slot>
    </div>
  </div>
</template>

<script>
export default {
};
</script>

<style scoped>
.number {
  text-align: center;
  font-size: 28px;
  color: rgba(0, 0, 0, 0.24);
  line-height: 1.2;
}
.students {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.54);
}
.name {
  font-size: 16px;
  font-weight: 700;
}
.card-title {
  font-weight: 700;
  font-size: 20px;
}
</style>