<template>
  <div class="card border-0 rounded-0 p-0">
    <div class="image-wrapper">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRIiDdCnno7wyoY7Hw4wHO7uKKJFbVKW-fX9TQMbVyeFUfS5Wqg" alt="..." />
    </div>
    <div class="card-body px-0 py-1">
      <span class="card-title">Lorem ipsum dolor sit amet consectetur adipisicing elit</span>
      <div class="owner">
        <a class="teacher mr-1">John Doe</a>บน
        <a class="category">Some category</a>
      </div>
      <div class="rating d-flex">
        <span class="score mr-1">4.5</span>
        <i class="material-icons">star</i>
        <span class="dot mx-1">·</span>
        <span class="student">นักเรียน 54,426 คน</span>
      </div>
      <div class="create-date">
        <span class="date">31 ธันวาคม 2019</span>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.image-wrapper {
  position: relative;
  padding-bottom: 56.25%; // Aspect ratio 16:9
}
.image-wrapper img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.create-date {
  color: rgba(0, 0, 0, 0.54) !important;
  font-size: 12px;
}
.rating {
  color: rgba(0, 0, 0, 0.54) !important;
  font-size: 12px;

  .material-icons {
    font-size: 15px;
  }
}
.owner {
  font-weight: 400 !important;
  margin-top: 12px;
  line-height: 20px;
  font-size: 13px;
  .category,
  .teacher {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.84);
    &:hover {
      text-decoration: underline;
    }
  }
}
.card-title {
  overflow: hidden !important;
  max-height: 40px !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical;
  font-weight: 600 !important;
  font-size: 18px !important;
  line-height: 20px !important;
}
</style>