<template>
  <CardOne :items="categories">
    <template #title>คอร์สยอดนิยมวันนี้</template>
    <template #body>
      <div class="row mb-3" v-for="(item, index) in items" :key="index">
        <div class="col-md-3">
          <p class="number mb-0">0{{index+1}}</p>
        </div>
        <div class="col-md pl-0">
          <p class="name mb-0">{{item.name}}</p>
          <p class="students mb-0">นักเรียน {{item.studentCount.toLocaleString()}} คน</p>
        </div>
      </div>
    </template>
    <template #footer>
      <nuxt-link to="/">ดูทั้งหมด</nuxt-link>
    </template>
  </CardOne>
</template>

<script>
import CardOne from "@/components/card/CardOne";

export default {
  props: ["items"],
  components: {
    CardOne
  }
};
</script>