<template>
  <section>
    <SpinnerGrow :loading="loading"/>

    <!-- Empty -->
    <template v-if="data.length === 0 && !loading">
      <div class="row mt-4">
        <div class="col-12 text-center text-black-50 py-0">
          <p>ไม่มีคอร์สที่กำลังเผยแพร่</p>
          <p>
            อัพเดทคอร์สของคุณเพื่อแบ่งปันความรู้
            <n-link :to="{name: 'teacher-draft'}">จัดการคอร์ส</n-link>
          </p>
        </div>
      </div>
    </template>
    <!-- Published -->
    <template v-if="data.length >= 1">
      <router-link
        v-for="item in data"
        :key="item.id"
        :to="{name: 'course.edit', params: {id: item.id}}"
        active-class="active"
      >
        <div class="row">
          <div class="col-12 py-0">
            <h5 class="mb-0">{{item.title}}</h5>
            <small class="text-black-50">แก้ไขล่าสุด 1 นาทีที่แล้ว · 35 นาที 5 บทเรียน)</small>
            <hr class="my-4" />
          </div>
        </div>
      </router-link>
    </template>
  </section>
</template>

<script>
import SpinnerGrow from '@/components/SpinnerGrow'

export default {
  middleware: "auth",
  layout: "teacher",
  components: {
    SpinnerGrow
  },
  data() {
    return {
      data: [],
      loading: true
    };
  },
  async beforeCreate() {
    try {
      let res = await this.$axios.$post(
        "http://localhost:3000/api/get-published-courses"
      );
      this.data = res.data;
      this.loading = false;
    } catch (error) {
      this.loading = false;
      console.log(error);
    }
  }
};
</script>

<style lang="scss" scoped>
a {
  &:hover {
    text-decoration: none !important;
  }
}
h5 {
  color: rgba(0, 0, 0, 0.84) !important;
  font-weight: 700;
}
</style>