<template>
  <span class="fa-layers fa-fw">
    <CartIcon class="cart" />
    <span class="fa-layers-text cart-counter" data-fa-transform="shrink-3 down-1 right-9">0</span>
  </span>
</template>

<script>
import CartIcon from "~/components/icon/CartIcon";

export default {
    components: {
        CartIcon
    }
};
</script>

<style scoped>
.cart-counter {
  font-weight: 900;
  font-size: 22px;
  font-style: normal;
  color: #ff4747;
}
.cart {
  width: 36px;
}
</style>