<template>
  <nav class="navbar-light bg-white py-2" id="main_navbar">
    <div class="container-fluid">
      <div class="row">
        <!-- Sub logo -->
        <div class="col-sm-2 sub-logo py-0">
          <div class="row align-items-center">
            <div class="logo d-flex">
              <n-link :to="{name: 'teacher-draft'}" class="stretched-link"></n-link>
              <div class="col-auto pr-1 pt-1 my-auto py-0">
                <i class="fas fa-balance-scale nav-sub-logo"></i>
              </div>
              <div class="col-auto pl-1 py-0">
                <div class="row">
                  <div class="col py-0">
                    <span class="promote-text-sm">การศึกษา</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col py-0">
                    <span class="promote-text-md">ไร้ขีดจำกัด</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-auto py-0">
          <ul class="nav nav-navbar h-100">
            <li class="nav-item">
              <nuxt-link :to="{name: 'teacher-draft'}" class="nav-link">
                <i class="fal fa-video"></i>
                คอร์ส
              </nuxt-link>
            </li>
            <li class="nav-item">
              <nuxt-link :to="{name: 'teacher-draft'}" class="nav-link">
                <i class="fal fa-question-circle"></i>
                ถาม-ตอบ
              </nuxt-link>
            </li>
            <li class="nav-item">
              <nuxt-link :to="{name: 'teacher-draft'}" class="nav-link">
                <i class="fal fa-analytics mr-1"></i>ข้อมูลเชิงลึก
              </nuxt-link>
            </li>
            <li class="nav-item">
              <nuxt-link :to="{name: 'teacher-draft'}" class="nav-link">
                <i class="fal fa-tools"></i>
                เครื่องมือ
              </nuxt-link>
            </li>
            <li class="nav-item">
              <nuxt-link :to="{name: 'teacher-draft'}" class="nav-link">
                <i class="fal fa-life-ring"></i>
                ช่วยเหลือ
              </nuxt-link>
            </li>
          </ul>
        </div>
        <!-- Float right -->
        <div class="col-sm-auto ml-auto py-0">
          <ul class="nav top-right-nav">
            <!-- Notification & User profile -->
            <template v-if="loggedIn">
              <!-- Language -->
              <li class="nav-item">
                <nuxt-link to="/" class="nav-link py-0 fw-700">
                  <span class="nav-text-sm">TH</span>
                  <i class="material-icons langauge-icon">language</i>
                  <span class="dropdown-toggle"></span>
                </nuxt-link>
              </li>
              <li class="nav-item my-auto cursor-pointer">
                <n-link to="/" class="nav-link">หน้าหลัก</n-link>
              </li>
              <li class="nav-item my-auto cursor-pointer">
                <a href="#" class="nav-link">
                  <BellIcon />
                </a>
              </li>
              <li class="nav-item">
                <b-button id="user-popover" variant="border-0 py-1 px-0" ref="button">
                  <div class="img-user-profile-sm py-1">{{user.name.charAt(0)}}</div>
                </b-button>
                <!-- User Popover -->
                <b-popover
                  target="user-popover"
                  triggers="focus"
                  placement="bottom"
                  ref="popover"
                  no-fade
                >
                  <div class="user-popover pt-3">
                    <div class="col-12 mb-3 py-0">
                      <div class="row align-items-center d-flex">
                        <div class="col-auto py-0">
                          <div class="img-user-profile img-circle"></div>
                        </div>
                        <div class="col pl-0 py-0">
                          <p class="mb-0 text-success">Beginner</p>
                          <b>{{user.name}}</b>
                          <p
                            class="user-address mb-0"
                          >@{{user.name.replace(/\s/g, '')}}</p>
                        </div>
                      </div>
                    </div>
                    <hr class="my-0" />
                    <div class="col-12 px-0 py-0">
                      <div class="list-group w-100">
                        <button
                          class="list-group-item list-group-item-action border-0"
                          @click="onLogout"
                        >ออกจากระบบ</button>
                      </div>
                    </div>
                  </div>
                </b-popover>
              </li>
            </template>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import Logo from "~/components/icon/Logo";
import BellIcon from "~/components/icon/BellIcon";
import Cart from "~/components/Cart";
import Search from "~/components/Search";

export default {
  components: {
    Logo,
    BellIcon,
    Search,
    Cart
  },
  methods: {
    async onLogout() {
      await this.$auth.logout();
    }
  }
};
</script>


<style lang="scss" scope>
.nav-link {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.54);
  &:hover {
    color: rgba(0, 0, 0, 0.84);
  }
}
.sub-logo {
  line-height: 1.2 !important;
}
.promote-text-sm {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
}
.promote-text-md {
  font-size: 16px;
  font-weight: 700;
}
.nav-sub-logo {
  font-size: 20px;
}
.navbar-brand {
  font-weight: 600 !important;
  font-size: 28px;
  line-height: 1.2;
}
.popover-body {
  padding: 0 !important;
}
.user-popover {
  min-width: 220px;
}
.img-user-profile {
  display: block;
  background-color: lightgrey;
  width: 44px;
  height: 44px;
}
.user-address {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.54);
}
.img-user-profile-sm {
  display: block;
  background-color: lightgrey;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 600;
  text-align: center;
}
.top-right-nav i {
  color: rgba(0, 0, 0, 0.84);
}
.langauge-icon {
  font-size: 18px;
}
.nav-text-sm {
  font-size: 11px;
  display: block;
  color: rgba(0, 0, 0, 0.54);
}
.dropdown-toggle {
  color: rgba(0, 0, 0, 0.34);
}
</style>
