<template>
  <nav class="navbar-light bg-white py-2 border-bottom" id="main_navbar">
    <div class="container-fluid">
      <div class="row">
        <!-- Logo -->
        <div class="col-sm-2 py-0">
          <nuxt-link class="navbar-brand pt-0" to="/">
            <Logo class="mr-2" />angkhana
          </nuxt-link>
        </div>
        <!-- Search -->
        <div class="col-sm-3 py-0">
          <Search />
        </div>
        <!-- After search -->
        <div class="col-sm px-0 mr-auto py-0">
          <ul class="nav top-right-nav">
            <!-- Language -->
            <li class="nav-item">
              <nuxt-link to="/" class="nav-link py-0 fw-700">
                <span class="nav-text-sm">TH</span>
                <i class="material-icons langauge-icon">language</i>
                <span class="dropdown-toggle"></span>
              </nuxt-link>
            </li>
            <!-- Courses -->
            <template v-if="loggedIn">
              <li class="nav-item">
                <nuxt-link :to="{name: 'teacher-draft'}" class="nav-link fw-700">คอร์ส</nuxt-link>
              </li>
            </template>
            <!-- Cart -->
            <li class="nav-item nav-tools">
              <nuxt-link to="/" class="nav-link py-0">
                <Cart />
              </nuxt-link>
            </li>
          </ul>
        </div>
        <!-- Float right -->
        <div class="col-sm-auto ml-auto py-0">
          <ul class="nav top-right-nav">
            <!-- Notification & User profile -->
            <template v-if="loggedIn">
              <li class="nav-item my-auto cursor-pointer">
                <a href="#" class="nav-link">
                  <BellIcon />
                </a>
              </li>
              <li class="nav-item">
                <b-button id="user-popover" variant="border-0 py-1 px-0" ref="button">
                  <div class="img-user-profile-sm py-1">{{user.name.charAt(0)}}</div>
                </b-button>
                <!-- User Popover -->
                <b-popover
                  target="user-popover"
                  triggers="focus"
                  placement="bottom"
                  ref="popover"
                  no-fade
                >
                  <div class="user-popover pt-3">
                    <div class="col-12 mb-3 py-0">
                      <div class="row align-items-center d-flex">
                        <div class="col-auto py-0">
                          <div class="img-user-profile img-circle"></div>
                        </div>
                        <div class="col pl-0 py-0">
                          <p class="mb-0 text-success">Beginner</p>
                          <b>{{user.name}}</b>
                          <p
                            class="user-address mb-0"
                          >@{{user.name.replace(/\s/g, '')}}</p>
                        </div>
                      </div>
                    </div>
                    <hr class="my-0" />
                    <div class="col-12 px-0 py-0">
                      <div class="list-group w-100">
                        <button
                          class="list-group-item list-group-item-action border-0"
                          @click="onLogout"
                        >ออกจากระบบ</button>
                      </div>
                    </div>
                  </div>
                </b-popover>
              </li>
            </template>
            <!-- Login & Register -->
            <template v-else>
              <li class="nav-item">
                <nuxt-link class="nav-link text-success" :to="{name: 'login'}">เข้าสู่ระบบ</nuxt-link>
              </li>
              <li class="nav-item">
                <nuxt-link
                  class="nav-link btn btn-outline-success"
                  :to="{name: 'register'}"
                >ลงทะเบียน</nuxt-link>
              </li>
            </template>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2 sub-logo py-0">
          <div class="row align-items-center">
            <div class="col-auto pr-1 pt-1 py-0">
              <i class="fas fa-balance-scale nav-sub-logo"></i>
            </div>
            <div class="col-auto pl-1 py-0">
              <div class="row">
                <div class="col py-0">
                  <span class="promote-text-sm">การศึกษา</span>
                </div>
              </div>
              <div class="row">
                <div class="col py-0">
                  <span class="promote-text-md">ไร้ขีดจำกัด</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-auto py-0">
          <ul class="nav nav-navbar sub-nav h-100">
            <!-- Categories button -->
            <li class="nav-item">
              <a class="nav-link pl-0" href="#">
                <i class="fas fa-th mr-1"></i>หมวดหมู่
              </a>
              <!-- Categories -->
              <ul class="nav border">
                <li
                  class="nav-item category-item py-1"
                  v-for="item in $store.state.categories"
                  :key="item.id"
                >
                  <a class="nav-link" href="#">
                    <i class="category-icon" :class="item.icon"></i>
                    {{item.nameTH}}
                  </a>
                  <!-- Subcategories -->
                  <ul class="nav border w-100 h-100" style="margin-top:-1px">
                    <span class="nav-link text-dark">
                      <i class="category-icon" :class="item.icon"></i>
                      <b>{{item.nameTH}}</b>
                    </span>
                    <li
                      class="nav-item category-item py-1"
                      v-for="item in item.subcategories"
                      :key="item.id"
                    >
                      <a class="nav-link" href="#">{{item.nameTH}}</a>
                      <!-- Sub of subcategories -->
                      <ul class="nav border w-100 h-100" style="margin-top:-1px">
                        <span class="nav-link text-dark">
                          <b>หัวข้อยอดนิยม</b>
                        </span>
                        <li
                          class="nav-item category-item py-1"
                          v-for="(item, index) in 9"
                          :key="index"
                        >
                          <a class="nav-link" href="#">Skill {{index+1}}</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>

            <li class="nav-item">
              <nuxt-link to="/" class="nav-link">มาแรง</nuxt-link>
            </li>
            <li class="nav-item">
              <nuxt-link to="/" class="nav-link">กำลังติดตาม</nuxt-link>
            </li>
            <li class="nav-item">
              <nuxt-link to="/" class="nav-link">สอนกับเรา</nuxt-link>
            </li>
            <li class="nav-item">
              <nuxt-link to="/" class="nav-link">ของขวัญ</nuxt-link>
            </li>
            <li class="nav-item">
              <nuxt-link to="/" class="nav-link">ช่วยเหลือ</nuxt-link>
            </li>
          </ul>
        </div>
        <div class="col-sm py-0"></div>
      </div>
    </div>
  </nav>
</template>

<script>
import Logo from "~/components/icon/Logo";
import BellIcon from "~/components/icon/BellIcon";
import Cart from "~/components/Cart";
import Search from "~/components/Search";

export default {
  components: {
    Logo,
    BellIcon,
    Search,
    Cart
  },
  methods: {
    async onLogout() {
      this.$router.push('/')
      await this.$auth.logout();
    }
  }
};
</script>


<style scope>
.category-item:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
svg.category-icon {
  width: 18px !important;
}
.category-icon {
  width: 20px !important;
}
.nav-navbar .nav .nav-link {
  font-weight: 400;
  text-transform: none;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.54);
}

.nav-navbar .nav .nav-link {
  text-transform: none;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.54);
}

.nav-navbar .nav-item:hover > .nav {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.nav-navbar .nav {
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 11rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.04);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.04);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0, -8px);
  transform: translate(0, -8px);
  z-index: 1;
}
.nav-navbar .nav .nav {
  top: 0;
  left: 100%;
  -webkit-transform: translate(-8px, 0);
  transform: translate(-8px, 0);
}

.sub-nav > li {
  margin-top: auto;
}

.sub-nav .nav-link {
  padding-bottom: 0;
}
.sub-nav a.nav-link {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.54);
}
.sub-logo {
  line-height: 1.2 !important;
}
.promote-text-sm {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
}
.promote-text-md {
  font-size: 16px;
  font-weight: 700;
}
.nav-sub-logo {
  font-size: 20px;
}
.navbar-brand {
  font-weight: 600 !important;
  font-size: 28px;
  line-height: 1.2;
}
.popover-body {
  padding: 0 !important;
}
.user-popover {
  min-width: 220px;
}
.img-user-profile {
  display: block;
  background-color: lightgrey;
  width: 44px;
  height: 44px;
}
.user-address {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.54);
}
.img-user-profile-sm {
  display: block;
  background-color: lightgrey;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 600;
  text-align: center;
}
.top-right-nav .nav-link {
  color: rgba(0, 0, 0, 0.84);
}
.langauge-icon {
  font-size: 18px;
}
.nav-text-sm {
  font-size: 11px;
  display: block;
  color: rgba(0, 0, 0, 0.54);
}
.dropdown-toggle {
  color: rgba(0, 0, 0, 0.34);
}
</style>
