<template>
  <CardOne>
    <template #title>หมวดหมู่</template>
    <template #body>
      <div id="cssmenu">
        <ul>
          <li class="has-sub" v-for="category in categories" :key="category.id">
            <a href="#" class="py-2">
              <i class="category-icon" :class="category.icon"></i>
              <span>{{category.nameTH}}</span>
              <span class="float-right">
                <i class="fal fa-chevron-right"></i>
              </span>
            </a>
            <ul class="py-2 bg-white">
              <li
                class="has-sub"
                v-for="subcategory in category.subcategories"
                :key="subcategory.id"
              >
                <a href="#" class="py-2">
                  <span>{{subcategory.nameTH}}</span>
                  <span class="float-right">
                    <i class="fal fa-chevron-right"></i>
                  </span>
                </a>
                <ul>
                  <li>
                    <a href="#" class="py-2">
                      <span>Sub Product</span>
                    </a>
                  </li>
                  <!-- <li class="last">
                          <a href="#">
                            <span>Sub Product</span>
                          </a>
                  </li>-->
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </template>
  </CardOne>
</template>

<script>
import CardOne from "@/components/card/CardOne";

export default {
    props: ['categories'],
    components: {
        CardOne
    }
}
</script>

<style scoped>
.category-icon {
  width: 20px;
}
#cssmenu {
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 1;
}
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#cssmenu ul {
  position: relative;
  z-index: 597;
  float: left;
}
#cssmenu ul li {
  float: left;
  min-height: 1px;
  line-height: 1em;
  vertical-align: middle;
  position: relative;
}
#cssmenu ul li.hover,
#cssmenu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
#cssmenu ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 598;
  width: 100%;
}
#cssmenu ul ul li {
  float: none;
}
#cssmenu ul ul ul {
  top: -2px;
  right: 0;
}
#cssmenu ul li:hover > ul {
  visibility: visible;
}
#cssmenu ul ul {
  top: 1px;
  left: 100%;
}
#cssmenu ul li {
  float: none;
}
#cssmenu ul ul {
  margin-top: 1px;
}
#cssmenu ul ul li {
  font-weight: normal;
}
/* Custom CSS Styles */
#cssmenu {
  width: 240px;
  /* background: #333333; */
  zoom: 1;
  font-size: 13px;
}
#cssmenu:before {
  content: "";
  display: block;
}
#cssmenu:after {
  content: "";
  display: table;
  clear: both;
}
#cssmenu a {
  display: block;
  padding: 15px 20px;
  color: rgba(0, 0, 0, 0.84);
  text-decoration: none;
}
#cssmenu > ul {
  width: 240px;
  /* width: 300px; */

}
#cssmenu ul ul {
  /* width: 200px; */
  width: 280px;

}
#cssmenu > ul > li > a {
  /* border-right: 4px solid #1b9bff; */
  color: rgba(0, 0, 0, 0.84);
}
#cssmenu > ul > li > a:hover {
  color: rgba(0, 0, 0, 0.84);
}
#cssmenu > ul > li.active a {
  /* background: #1b9bff; */
  background: #fff;
}
#cssmenu > ul > li a:hover,
#cssmenu > ul > li:hover a {
  /* background: #1b9bff; */
  background: #fff;
}
#cssmenu li {
  position: relative;
}

/* #cssmenu ul li.has-sub > a:after {
  content: "+";
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -6px;
} */
#cssmenu ul ul li.first {
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}
#cssmenu ul ul li.last {
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0;
  border-bottom: 0;
}
#cssmenu ul ul {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
#cssmenu ul ul {
  /* border: 1px solid #0082e7; */
  border: 1px solid rgba(0, 0, 0, 0.125);
}
#cssmenu ul ul a {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.84);
}
#cssmenu ul ul a:hover {
  color: rgba(0, 0, 0, 0.84);
}
#cssmenu ul ul li {
  /* border-bottom: 1px solid #0082e7; */
}
#cssmenu ul ul li:hover > a {
  /* background: #4eb1ff; */
  color: rgba(0, 0, 0, 0.84);
}
#cssmenu.align-right > ul > li > a {
  border-left: 4px solid #1b9bff;
  border-right: none;
}
#cssmenu.align-right {
  float: right;
}
#cssmenu.align-right li {
  text-align: right;
}
#cssmenu.align-right ul li.has-sub > a:before {
  content: "+";
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -6px;
}
#cssmenu.align-right ul li.has-sub > a:after {
  content: none;
}
#cssmenu.align-right ul ul {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 598;
  width: 100%;
}
#cssmenu.align-right ul ul li.first {
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
}
#cssmenu.align-right ul ul li.last {
  -webkit-border-radius: 0 0 0 3px;
  -moz-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
}
#cssmenu.align-right ul ul {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
</style>

