<template>
  <div class="text-center" v-if="loading">
    <div class="spinner-grow text-secondar spinner-grow-sm" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-secondary spinner-grow-sm" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-secondary spinner-grow-sm" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</template>

<script>
export default {
    props: ['loading']
}
</script>