$font-color: rgba(0, 0, 0, 0.84);
$success-color: rgba(3, 168, 124, 1);
$success-color-hover: rgba(2, 158, 116, 1);
$link-color: #0073b1;

body {
  color: $font-color;
  // font-family: Arial, sans-serif;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
h1 {
  font-size: 28px;
  line-height: 1.2;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  padding: 0;
  margin: 0;
}
h2 {
  font-size: 21px;
  line-height: 1.3;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  padding: 0;
  margin: 0;
}
h3 {
  font-weight: 700;
}
h3,
h4 {
  font-size: 17px;
  line-height: 1.24;
  text-rendering: optimizeLegibility;
}
hr {
  background-color: transparent;
  display: block;
  height: 1px;
  border-width: 0;
  border-top: 1px solid #e7e7e7;
  line-height: 19px;
  margin-top: 0;
  margin-bottom: 14px;
}

a {
  color: $link-color;
  cursor: pointer;
}
::placeholder {
  color: rgba(0, 0, 0, 0.34) !important;
  font-weight: 100;
}
button {
  &:focus {
    outline: none;
  }
}
.text-large {
  font-size: 2.5rem !important;
}

.bg-success {
  background-color: $success-color !important;
}
.text-success {
  color: $success-color !important;
  &:hover {
    color: $success-color !important;
  }
}
.cursor-pointer {
  cursor: pointer !important;
}
.modal-backdrop {
  opacity: 0.97;
  background-color: #fff !important;
}
.modal-title {
  font-size: 1.8rem;
}
.modal-lg {
  max-width: 78%;
}
.btn {
  outline: none;
  box-shadow: none !important;
}
.btn-success {
  background-color: $success-color;

  &:hover {
    background-color: $success-color-hover;
    border-color: $success-color-hover;
  }
  &:active {
    background-color: $success-color-hover !important;
    border-color: $success-color-hover !important;
  }
}
.btn-outline-success {
  border-color: $success-color !important;
  color: $success-color !important;
  &:hover {
    background-color: $success-color-hover !important;
    border-color: $success-color-hover !important;
    color: #fff !important;
  }
  &:active {
    background-color: $success-color-hover !important;
    border-color: $success-color-hover !important;
  }
}
.btn-email,
.btn-facebook,
.btn-google {
  height: 38px;
  padding-top: 5px;
  font-weight: 400;
}
.btn-facebook {
  background: #3b5998;
  color: white;
  box-shadow: 0 0 0 0 rgba(20, 23, 28, 0.1), 0 2px 0px 0 rgba(20, 23, 28, 0.1);
}
.btn-facebook:hover,
.btn-google:hover {
  opacity: 0.8;
  color: white;
  box-shadow: 0 4px 4px 4px rgba(20, 23, 28, 0.05),
    0 3px 1px 0 rgba(20, 23, 28, 0.05);
}
.btn-google {
  background: #dd4b39;
  color: white;
  box-shadow: 0 0 0 0 rgba(20, 23, 28, 0.1), 0 2px 0px 0 rgba(20, 23, 28, 0.1);
}
.fa-facebook-f,
.fa-google,
.fa-envelope {
  width: 24px;
}
.btn-email {
  background: white;
  color: #29303b;
  border: 1px solid #ced4da;
  box-shadow: 0 0 0 0 rgba(20, 23, 28, 0.1), 0 2px 0px 0 rgba(20, 23, 28, 0.1);
  cursor: pointer;
  &:hover {
    box-shadow: 0 4px 4px 4px rgba(20, 23, 28, 0.05),
      0 3px 1px 0 rgba(20, 23, 28, 0.05);
  }
}
.close {
  right: 30px;
}
.auth-modal {
  min-height: 80vh;
}
.font-weight-500 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.text-sm {
  font-size: 0.8rem;
}
.underline-0 {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
.img-circle {
  border-radius: 50%;
}
