<template>
  <div>
    <client-only>
      <Navbar />
      <div class="container py-4 mb-5">
        <!-- Header -->
        <div class="row justify-content-center mb-4">
          <div
            class="col-md-10 px-0 col-lg-10 col-sm-12 d-flex justify-content-between align-items-center py-0"
          >
            <div>
              <h1>{{ title }}</h1>
            </div>
            <div class="ml-2">
              <span class="badge badge-secondary mr-auto">ฉบับร่าง</span>
            </div>
            <div class="ml-auto">
              <button
                class="btn btn-outline-secondary btn-sm mx-1"
                type="button"
                v-if="isUpdate"
                disabled
              >
                <span
                  class="spinner-border spinner-border-sm mr-2"
                  role="status"
                  aria-hidden="true"
                ></span>
                <span>กำลังบันทึก</span>
              </button>
              <button class="btn btn-outline-secondary btn-sm mx-1" v-if="!isUpdate">บันทึกแล้ว</button>
              <button class="btn btn-success btn-sm" :disabled="!publicable">เผยแพร่</button>
              <p class="d-none">{{formCounter}}</p>
            </div>
          </div>
        </div>
        <!-- Form area -->
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-10 col-sm-12 border rounded py-0">
            <div class="row">
              <!-- Side Nav -->
              <div class="col-md-3 border-right px-0 py-0">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <n-link
                      class="nav-link text-dark"
                      :to="{name: createRoute, params:{id: courseId }}"
                    >
                      <b-badge
                        variant="danger"
                        class="mr-1"
                        v-if="formCounter !== 0"
                      >{{formCounter}}</b-badge>ข้อมูลทั่วไป
                    </n-link>
                  </li>
                  <li class="nav-item" :class="{'not-allowed': !courseId}">
                    <n-link
                      class="nav-link text-dark"
                      :to="{name: uploadRoute, params:{id: courseId }}"
                      :class="{'disabled': !courseId}"
                    >
                      <b-badge v-if="!durationCheck" variant="danger" class="mr-1">1</b-badge>อัพโหลดวีดีโอ
                    </n-link>
                  </li>
                </ul>
              </div>
              <div class="col-md-9 px-4 py-4">
                <nuxt />
              </div>
            </div>
          </div>
        </div>
      </div>
    </client-only>
  </div>
</template>

<script>
import Navbar from "@/components/Navbar2";

export default {
  components: {
    Navbar
  },
  data() {
    return {
      createRoute: "course-create",
      uploadRoute: "course-id-videos",
      courseId: null
    };
  },
  computed: {
    formCounter() {
      return this.$store.getters.formCounter;
    },
    durationCheck() {
      return this.$store.getters.durationCheck;
    },
    title() {
      return this.$store.getters.courseTitle;
    },
    isUpdate() {
      return this.$store.getters.isUpdate;
    },
    publicable() {
      return this.$store.getters.publicable;
    },
    formCounter() {
      return this.$store.getters.formCounter;
    }
  },
  created() {
    this.changeRoute();
  },
  mounted() {
    this.changeRoute();
  },
  watch: {
    $route(to, from) {
      this.changeRoute();
    },
    publicable() {
      if (!this.$store.getters.publicable) {
        return;
      }
      this.successNotify();
    },
    formCounter() {
      const counter = this.$store.getters.formCounter;
      if (counter === 4) {
        // this.infoNotify();
      }
    }
  },
  methods: {
    changeRoute() {
      if (this.$route.params.id) {
        this.createRoute = "course-id-update";
        this.uploadRoute = "course-id-videos";
        this.courseId = this.$route.params.id;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.nav-link {
  font-size: 16px;
}
.exact-active-link {
  border-left: 3px solid black;
}
.not-allowed {
  color: #bcc0c4 !important;
  cursor: not-allowed !important;
}
.disabled {
  color: #bcc0c4 !important;
}
.validate {
  width: 15px;
  height: 15px;
  font-size: 14px;
}
.material-icons {
  font-size: 20px;
  vertical-align: middle;
}
.course-status {
  position: absolute;
  margin-top: 7px;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #fff;
  background-color: rgba(3, 168, 124, 1);
  border-color: rgba(3, 168, 124, 1);
  cursor: not-allowed;
}
.vs-notifications {
  margin-top: 40px;
  opacity: 0.9;
  border-radius: 5px;
  min-width: 320px;
}
.vs-notifications h3,
.vs-notifications p {
  color: white;
}
.vs-notifications h3 {
  font-size: 20px;
}
.vs-notifications p {
  margin-bottom: 0;
}
</style>