<template>
  <div class="container">
    <div class="row justify-content-center vh-100">
        <div class="col-sm-12 col-md-6 col-lg-4 align-self-center">
            <nuxt-link to="/" tag="h1" class="text-center display-4 cursor-pointer">angkhana</nuxt-link>
            <nuxt />
        </div>
    </div>
  </div>
</template>