<template>
  <div>
    <Navbar />
    <div class="container py-5">
      <!-- Header -->
      <div class="row mb-4">
        <div class="col-12 d-flex justify-content-between py-0">
          <div>
            <h1 class="text-large">คอร์สของคุณ</h1>
          </div>
          <div class="my-auto">
            <nuxt-link :to="{name: 'course-create'}" class="btn btn-success">สร้างคอร์ส</nuxt-link>
          </div>
        </div>
      </div>
      <!-- Nav -->
      <div class="row mb-4">
        <div class="col-md-12 py-0">
          <ul class="nav border-bottom">
            <n-link :to="{name: 'teacher-draft'}" class="nav-link text-black-50 px-0">โครงร่าง</n-link>
            <n-link
              :to="{name: 'teacher-published'}"
              class="nav-link text-black-50 px-0 mx-3"
            >สาธารณะ</n-link>
          </ul>
        </div>
      </div>
      <!-- Content -->
      <div class="row mb-3">
        <div class="col-12 py-0">
          <nuxt />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from "~/components/Navbar2";

export default {
  components: {
    Navbar
  }
};
</script>

<style lang="scss" scoped>
.exact-active-link {
  border-bottom: 3px solid black;
  color: rgba(0, 0, 0, 0.84) !important;
}
</style>