<template>
  <div class="container py-4">
    <div class="row featureCourse">
      <div class="col">
        <!-- Promote -->
        <div class="row">
          <div class="col">
            <div class="jumbotron jumbotron-fluid mb-0">
              <div class="container">
                <h1 class="display-4">Fluid jumbotron</h1>
                <p
                  class="lead"
                >This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-4">
            <CardOne>
              <template #title>ลงทะเบียนเพื่อประสบการณ์เรียนรู้ที่ดีกว่า</template>
              <template #body>
                <div class="px-3">
                  <button class="myButton btn-block">สมัครสมาชิก</button>
                  <button class="btn btn-outline-secondary btn-block">เข้าสู่ระบบ</button>
                </div>
              </template>
            </CardOne>
          </div>
        </div>
        <!-- Feature courses -->
        <div class="row">
          <div class="col-12 col-md-4 col-lg-3" v-for="item in 8" :key="item">
            <CourseCard />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CardOne from "@/components/card/CardOne";
import Sidebar from "@/components/Sidebar";
import TopSelectCard from "@/components/card/TopSelectCard";
import CourseCard from "@/components/card/CourseCard";

export default {
  components: {
    CardOne,
    Sidebar,
    TopSelectCard,
    CourseCard
  }
  // async asyncData({ $axios }) {
  //   try {
  //     let res = await $axios.$post("/api/get-categories");
  //     return {
  //       categories: res.categories
  //     };
  //   } catch (error) {
  //     console.log(error);
  //   }
  // }
};
</script>

<style lang="scss" scoped>
.myButton {
  -moz-box-shadow: 0px 1px 0px 0px #fff6af;
  -webkit-box-shadow: 0px 1px 0px 0px #fff6af;
  box-shadow: 0px 1px 0px 0px #fff6af;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #ffec64),
    color-stop(1, #ffab23)
  );
  background: -moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background: -webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background: -o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background: -ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
  background-color: #ffec64;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #ffaa22;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffee66;
  &:hover {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.05, #ffab23),
      color-stop(1, #ffec64)
    );
    background: -moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background: -webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background: -o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background: -ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
    background-color: #ffab23;
  }
  &:active {
    position: relative;
    top: 1px;
  }
}
.button {
  backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background: linear-gradient(180deg, #ff7755 0%, #aa4411 100%);
  border-radius: 0px;
  border: 1px solid #931;
  border-width: 1px 1px 1px 1px;
  padding: 10px 15px 10px 15px;
  color: #fff;
  font-size: initial;
  font-family: Helvetica Neue;
  font-weight: 900;
  font-style: normal;
}
</style>
