<template>
  <main class="container">
    <div class="row justify-content-center">
      <LoginForm :data="data" :onSubmit="(event)=>onSubmit()" />
    </div>
  </main>
</template>

<script>
import LoginForm from "~/components/auth/LoginForm";
import backend from "~/config/backend";

export default {
  layout: "none",
  components: {
    LoginForm
  },
  data() {
    return {
      data: {
        email: "",
        password: ""
      }
    };
  },
  methods: {
    async onSubmit() {
      backend
        .login(this.data.email, this.data.password)
        .then(response => {
          if (response.status !== 200) {
            console.log("error");
            return;
          }

          localStorage.setItem(
            "user",
            JSON.stringify({
              code: response.data.code,
              name: response.data.name,
              email: response.data.email,
              avatar: response.data.avatar
            })
          );

          localStorage.setItem("token", response.token);
          localStorage.setItem("locale", "th");

          this.$router.push("/");
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>