<template>
  <main class="container">
    <div class="row justify-content-center">
      <RegisterForm :data="data" :onRegister="(event)=>onRegister()" />
    </div>
  </main>
</template>

<script>
import RegisterForm from "~/components/auth/RegisterForm";

export default {
  layout: "none",
  components: {
    RegisterForm
  },
  data() {
    return {
      data: {
        name: "",
        email: "",
        password: "",
        confirmPassword: ""
      }
    };
  },
  methods: {
    async onRegister() {
      try {
        let data = {
          name: this.data.name,
          email: this.data.email,
          password: this.data.password
        };
        let res = await this.$axios.$post("/api/register", data);
        if (res.success) {
          this.$auth.loginWith("local", {
            data: {
              email: this.data.email,
              password: this.data.password
            }
          });
          this.$router.push("/");
        }
      } catch (error) {
        console.log(error);
      }
    }
  }
};
</script>