<template>
  <div>
    <SpinnerBorder class="text-secondary my-5" :loading="loading" />

    <InfoForm
      v-if="!loading"
      :formData="formData"
      :onChange="(event)=>onChange(this.formData, $auth, $axios, $route, this.$store)"
    />
  </div>
</template>

<script>
import InfoForm from "@/components/course/InfoForm";
import { debounce } from "vue-debounce";
import SpinnerBorder from "@/components/SpinnerBorder";

export default {
  middleware: "auth",
  layout: "course",
  components: {
    InfoForm,
    SpinnerBorder
  },
  data() {
    return {
      formData: {},
      loading: true
    };
  },
  async beforeCreate() {
    try {
      let res = await this.$axios.$post(
        "http://localhost:3000/api/get-course",
        {
          id: this.$route.params.id
        }
      );
      this.loading = false;
      this.formData = res.data;
      this.$store.dispatch("updateTitle", res.data.title);

      this.totalVideoDuration()
      this.inputCounter()
      
    } catch (error) {
      console.log(error);
    }
  },
  methods: {
    sum(arr) {
      return arr.reduce((a, b) => {
        return a + b;
      }, 0);
    },
    totalVideoDuration() {
      const allVideos = this.formData.videos.filter(video => video.duration);
      const arr = allVideos.map(data => {
        return data.duration;
      });
      const totalDuration = this.sum(arr);
      this.$store.dispatch("videosDuration", totalDuration);
      this.$store.dispatch("addDuration", totalDuration);
    },
    inputCounter() {
      const formInputs = {
        title: this.formData.title,
        subTitle: this.formData.subtitle,
        description: this.formData.description,
        thumbnail: this.formData.thumbnail,
        category: this.formData.categoryId,
        subCategory: this.formData.subcategoryId,
        pricing: this.formData.pricingId,
        level: this.formData.levelId
      };
      // Count # of input with data
      const inputCount = Object.values(formInputs).filter(data => !!data).length;
      // Subtract input count from Vuex
      this.$store.dispatch("decrementFormCouter", inputCount);
    },
    onChange: debounce((formData, $auth, $axios, $route, $store) => {
      let dataInsert = {
        id: $route.params.id,
        title: formData.title,
        userId: $auth.$state.user.id,
        subtitle: formData.subtitle,
        description: formData.description,
        thumbnail: formData.thumbnail,
        categoryId: formData.categoryId,
        subcategoryId: formData.subcategoryId,
        pricingId: formData.pricingId,
        levelId: formData.levelId
      };
      $axios
        .$put("http://localhost:3000/api/update-course", dataInsert)
        .then(res => {
          $store.dispatch("updateTitle", formData.title);
          $store.dispatch("updated");

          // Empty input counter
          const data = res.data.data;

          const allInput = {
            title: data.title,
            subTitle: data.subtitle,
            description: data.description,
            thumbnail: data.thumbnail,
            category: data.categoryId,
            subCategory: data.subcategoryId,
            pricing: data.pricingId,
            level: data.levelId
          };
          const inputCount = Object.values(allInput).filter(data => !!data)
            .length;
          $store.dispatch("decrementFormCouter", inputCount);
          // .Empty input counter
        })
        .catch(error => {
          if (error) {
            console.log(error);
          }
        });
    }, "500ms"),
    onUpload() {
      // upload thumbnail
    }
  }
};
</script>