<template>
  <div>
    <VideoUploadForm :videos="data.videos" :selectedFiles="selectedFiles" />
  </div>
</template>

<script>
import VideoUploadForm from "@/components/course/VideoUploadForm";

export default {
  middleware: "auth",
  layout: "course",
  components: {
    VideoUploadForm
  },
  data() {
    return {
      data: {
        videos: [],
        courseId: null,
        isUpload: false
      }
    };
  },
  async created() {
    this.getVideoData();
  },
  methods: {
    sum(arr) {
      return arr.reduce((a, b) => {
        return a + b;
      }, 0);
    },
    totalVideoDuration() {
      const allVideos = this.formData.videos.filter(video => video.duration);
      const arr = allVideos.map(data => {
        return data.duration;
      });
      const totalDuration = this.sum(arr);
      this.$store.dispatch("videosDuration", totalDuration);
      this.$store.dispatch("addDuration", totalDuration);
    },
    inputCounter() {
      const formInputs = {
        title: this.formData.title,
        subTitle: this.formData.subtitle,
        description: this.formData.description,
        thumbnail: this.formData.thumbnail,
        category: this.formData.categoryId,
        subCategory: this.formData.subcategoryId,
        pricing: this.formData.pricingId,
        level: this.formData.levelId
      };
      // Count # of input with data
      const inputCount = Object.values(formInputs).filter(data => !!data)
        .length;
      // Subtract input count from Vuex
      this.$store.dispatch("decrementFormCouter", inputCount);
    },
    async getVideoData() {
      try {
        let res = await this.$axios.$post(
          "http://localhost:3000/api/get-course",
          {
            id: this.$route.params.id
          }
        );
        this.formData = res.data;
        this.$store.dispatch("updateTitle", res.data.title);
        this.totalVideoDuration();
        this.inputCounter();

        this.formData.videos.forEach(item => {
          this.data.videos.push({
            videoId: item.id,
            title: item.title,
            // pathThumbnail: `http://localhost:3000/video/${item.course_id}/${item.id}/${item.thumbnail}`,
            loading: 100,
            order: item.order
          });
        });
        this.loading = false;
      } catch (error) {
        console.log(error);
      }

      // backend
      //   .getVideos(this.$route.params.id)
      //   .then(res => {
      //     if (res.status != 200) return;
      //     R.forEach(item => {
      //       this.data.videos.push({
      //         videoId: item.id,
      //         name: item.title,
      //         pathThumbnail: `http://localhost:3000/video/${item.course_id}/${item.id}/${item.thumbnail}`,
      //         loading: 100,
      //         orders: item.orders
      //       });
      //     }, res.data);
      //   })
      //   .catch(error => {
      //     if (error) {
      //       console.log(error);
      //     }
      //   });
    },
    selectedFiles(event) {
      // R.forEach(item => {
      //   const length = this.data.videos.length;
      //   this.data.videos.push({
      //     name: item.name,
      //     pathThumbnail: "",
      //     loading: 0,
      //     orders: length + 1
      //   });
      //   this.createFile(item, length);
      // }, event.target.files);
    },
    createFile(file, index) {
      let formData = new FormData();
      formData.append("file", file);
      formData.append("courseId", this.$route.params.id);
      formData.append("userId", 1);
      formData.append("orders", index + 1);

      // this.$store.dispatch("updating");

      // uploadVideo(formData).then(fileInfo => {
      //   this.data.videos[index].loading = 100;
      //   this.data.videos[
      //     index
      //   ].pathThumbnail = `http://localhost:3000/video/${fileInfo.data.course}/${fileInfo.data.video}/${fileInfo.data.thumbnail.name}`;

      //   // Add video duration to state
      //   const videoDuration = fileInfo.data.thumbnail.duration;
      //   this.$store.dispatch("addDuration", videoDuration);

      //   const totalDuration = this.$store.getters.totalDuration;
      //   this.$store.dispatch("videosDuration", totalDuration);
      //   // .Add video duration to state

      //   this.$store.dispatch("updated");
      // });
    }
  }
};
</script>