<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    id="Layer_1"
    data-name="Layer 1"
    viewBox="0 0 512 512"
    width="20"
    height="20"
  >
    <path
      d="M452.3,415.33c0-5.855-2.111-13.9-6.821-18.611a25.5,25.5,0,0,0-3.4-2.859,57.943,57.943,0,0,1-18.413-20.347c-11.134-21.238-29.813-66.8-29.813-133.3,0-35.471-14.928-71.466-40.957-98.753-19.321-20.254-43.422-34.177-68.748-40.192a42.852,42.852,0,1,0-56.3,0c-25.326,6.017-49.427,19.946-68.75,40.21-26.029,27.3-40.957,63.3-40.957,98.771,0,70.66-20.463,116.553-32.66,137.62a51.887,51.887,0,0,1-15.067,16.112,24.118,24.118,0,0,0-3.074,2.578A26.784,26.784,0,0,0,59.7,415.33C59.7,430.01,71.418,442,85.821,442H209.257a52.323,52.323,0,0,0-1.368,11.623,48.111,48.111,0,0,0,96.222-.056A52.246,52.246,0,0,0,302.748,442H426.179C440.582,442,452.3,430.01,452.3,415.33ZM256,39.911A28.988,28.988,0,1,1,227.148,68.9,28.953,28.953,0,0,1,256,39.911ZM73.7,415.33a12.812,12.812,0,0,1,3.563-8.868,10.147,10.147,0,0,1,1.282-1.07,65.751,65.751,0,0,0,19.054-20.5c12.9-22.283,34.545-70.707,34.545-144.638,0-31.911,13.518-64.391,37.089-89.111,23.772-24.931,55.4-39.229,86.767-39.229s63,14.291,86.769,39.209c23.569,24.709,37.087,57.18,37.087,89.088,0,69.5,19.682,117.42,31.413,139.8a71.765,71.765,0,0,0,22.76,25.294,11.452,11.452,0,0,1,1.539,1.284c1.456,1.456,2.732,5.567,2.732,8.745,0,6.843-5.551,12.67-12.121,12.67H85.821C79.251,428,73.7,422.173,73.7,415.33Zm216.411,38.225A34.112,34.112,0,1,1,223.829,442h64.344A33.526,33.526,0,0,1,290.111,453.555Z"
    />
  </svg>
</template>