<template>
  <svg
    version="1.1"
    id="Layer_1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 512 512"
    style="enable-background:new 0 0 512 512;"
    xml:space="preserve"
  >
    <g>
      <g>
        <polygon
          points="473.668,139.109 410.282,303.914 153.733,303.914 98.973,30.118 0,30.118 0,71.187 65.305,71.187 
			120.064,344.984 438.488,344.984 512,153.853 		"
        />
      </g>
    </g>
    <g>
      <g>
        <path
          d="M191.658,358.674c-33.969,0-61.604,27.634-61.604,61.604s27.636,61.604,61.604,61.604
			c33.969,0,61.604-27.634,61.604-61.604S225.626,358.674,191.658,358.674z M191.658,440.813c-11.323,0-20.535-9.211-20.535-20.535
			s9.212-20.535,20.535-20.535c11.323,0,20.535,9.211,20.535,20.535S202.981,440.813,191.658,440.813z"
        />
      </g>
    </g>
    <g>
      <g>
        <path
          d="M369.626,358.674c-33.969,0-61.604,27.634-61.604,61.604s27.636,61.604,61.604,61.604
			c33.969,0,61.604-27.634,61.604-61.604S403.594,358.674,369.626,358.674z M369.626,440.813c-11.323,0-20.535-9.211-20.535-20.535
			s9.212-20.535,20.535-20.535s20.535,9.211,20.535,20.535S380.949,440.813,369.626,440.813z"
        />
      </g>
    </g>
  </svg>
</template>