<template>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.007 512.007" style="enable-background:new 0 0 512.007 512.007;" xml:space="preserve" width="100%" height="100%">
<g>
	<path style="fill:#E5646E;" d="M507.059,427.84L287.584,47.697c-14.037-24.313-49.131-24.313-63.168,0L4.941,427.84   c-14.037,24.313,3.509,54.705,31.584,54.705h438.951C503.55,482.545,521.097,452.153,507.059,427.84z"/>
	<path style="fill:#FF8086;" d="M507.059,427.84L287.584,47.697c-5.574-9.654-14.449-15.468-24.025-17.455L44.885,408.203   c-8.447,14.632-4.786,34.296,10.951,44.506c5.419,3.516,11.907,5.062,18.367,5.062l135.147,0c3.608,0,7.2,1.078,9.986,3.37   c9.976,8.206,22.738,13.146,36.664,13.146c13.926,0,26.688-4.939,36.664-13.146c2.787-2.292,6.378-3.37,9.986-3.37h207.385   C513.254,448.388,512.714,437.633,507.059,427.84z"/>
	<path style="fill:#FFFFFF;" d="M445.671,420.609l-182.52-316.134c-3.179-5.505-11.125-5.505-14.303,0L66.329,420.609   c-3.179,5.505,0.795,12.387,7.152,12.387h135.188c5.543,0,10.524,2.915,13.741,7.429c7.478,10.493,19.723,17.346,33.591,17.346   s26.113-6.853,33.591-17.346c3.217-4.514,8.198-7.429,13.741-7.429H438.52C444.877,432.996,448.85,426.115,445.671,420.609z"/>
	<circle style="fill:#E5646E;" cx="256" cy="416.48" r="24.774"/>
	<path style="fill:#E5646E;" d="M264.681,358.674h-17.363c-4.392,0-8.016-3.438-8.247-7.824l-7.389-140.387   c-0.249-4.725,3.515-8.692,8.247-8.692h32.14c4.731,0,8.495,3.967,8.247,8.692l-7.389,140.387   C272.697,355.236,269.073,358.674,264.681,358.674z"/>
	<path style="fill:#DB4655;" d="M268.903,428.351c-13.682,0-24.774-11.092-24.774-24.774c0-3.494,0.795-6.859,2.1-9.874   c-8.789,3.806-15.004,12.589-15.004,22.777c0,13.682,11.092,24.774,24.774,24.774c10.188,0,18.956-6.188,22.762-14.978   C275.747,427.582,272.398,428.351,268.903,428.351z"/>
	<path style="fill:#DB4655;" d="M239.93,201.771c-4.731,0-8.495,3.967-8.246,8.692l7.389,140.387   c0.231,4.386,3.854,7.824,8.246,7.824h9.714l-6.022-156.903H239.93z"/>
</g>
</svg>
</template>